src/SI.5.0.0/Service.SI/Web References/MDMMES0001/zws_mdmmes0001.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char9">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="9" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="ZstrMdmmes0001">
        <xsd:sequence>
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Bismt" type="n0:char18" />
          <xsd:element name="Maktx" type="n0:char40" />
          <xsd:element name="Meins" type="n0:char3" />
          <xsd:element name="Werks" type="n0:char4" />
          <xsd:element name="Mtart" type="n0:char4" />
          <xsd:element name="Mtbez" type="n0:char25" />
          <xsd:element name="Matkl" type="n0:char9" />
          <xsd:element name="Wgbez" type="n0:char20" />
          <xsd:element name="Spart" type="n0:char2" />
          <xsd:element name="Lvorm" type="n0:char1" />
          <xsd:element name="Sobsl" type="n0:char2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZtMdmmes0001">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZstrMdmmes0001" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZfunMdmmes0001">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="LDate" type="n0:string" />
            <xsd:element minOccurs="0" name="LMatnr" type="n0:string" />
            <xsd:element minOccurs="0" name="LTime" type="n0:string" />
            <xsd:element name="LWerks" type="n0:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZfunMdmmes0001Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ItMdmmes0001" type="tns:ZtMdmmes0001" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZfunMdmmes0001">
    <wsdl:part name="parameters" element="tns:ZfunMdmmes0001" />
  </wsdl:message>
  <wsdl:message name="ZfunMdmmes0001Response">
    <wsdl:part name="parameter" element="tns:ZfunMdmmes0001Response" />
  </wsdl:message>
  <wsdl:portType name="ZWS_MDMMES0001">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://SHQVSAPQ1.csaid.cooperintra.ctb:8000/sap/bc/esdt/docu/sd_text?sap-client=610&amp;sd_name=ZWS_MDMMES0001" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsdl:operation name="ZfunMdmmes0001">
      <wsdl:input message="tns:ZfunMdmmes0001" />
      <wsdl:output message="tns:ZfunMdmmes0001Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_MDMMES0001" type="tns:ZWS_MDMMES0001">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZfunMdmmes0001">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_MDMMES0001:ZfunMdmmes0001Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZWS_MDMMES0001_SOAP12" type="tns:ZWS_MDMMES0001">
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZfunMdmmes0001">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_MDMMES0001:ZfunMdmmes0001Request" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_MDMMES0001">
    <wsdl:port name="ZWS_MDMMES0001" binding="tns:ZWS_MDMMES0001">
      <soap:address location="http://SHQVSAPQ1.csaid.cooperintra.ctb:8000/sap/bc/srt/rfc/sap/zws_mdmmes0001/610/zws_mdmmes0001/zws_mdmmes0001" />
    </wsdl:port>
    <wsdl:port name="ZWS_MDMMES0001_SOAP12" binding="tns:ZWS_MDMMES0001_SOAP12">
      <wsoap12:address location="http://SHQVSAPQ1.csaid.cooperintra.ctb:8000/sap/bc/srt/rfc/sap/zws_mdmmes0001/610/zws_mdmmes0001/zws_mdmmes0001" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>