src/SI.5.0.0/Service.SI/Web References/MDMMES0006/zws_mdmmes0006.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char23">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="23" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char31">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="31" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char70">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="70" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="ZstrMdmmes0006">
        <xsd:sequence>
          <xsd:element name="Kunnr" type="n0:char10" />
          <xsd:element name="Name1" type="n0:char70" />
          <xsd:element name="Bukrs" type="n0:char4" />
          <xsd:element name="Country" type="n0:char18" />
          <xsd:element name="City" type="n0:char23" />
          <xsd:element name="Remark" type="n0:char50" />
          <xsd:element name="Telf1" type="n0:char16" />
          <xsd:element name="Telfx" type="n0:char31" />
          <xsd:element name="Parnr" type="n0:char10" />
          <xsd:element name="Pstlz" type="n0:char10" />
          <xsd:element name="Telbx" type="n0:char15" />
          <xsd:element name="Telf2" type="n0:char16" />
          <xsd:element name="Loevm" type="n0:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZtMdmmes0006">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZstrMdmmes0006" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZfunMdmmes0006">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="LBukrs" type="n0:string" />
            <xsd:element minOccurs="0" name="LDate" type="n0:string" />
            <xsd:element minOccurs="0" name="LKunnr" type="n0:string" />
            <xsd:element minOccurs="0" name="LTime" type="n0:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZfunMdmmes0006Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ItMdmmes0006" type="tns:ZtMdmmes0006" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZfunMdmmes0006">
    <wsdl:part name="parameters" element="tns:ZfunMdmmes0006" />
  </wsdl:message>
  <wsdl:message name="ZfunMdmmes0006Response">
    <wsdl:part name="parameter" element="tns:ZfunMdmmes0006Response" />
  </wsdl:message>
  <wsdl:portType name="ZWS_MDMMES0006">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://SHQVSAPQ1.csaid.cooperintra.ctb:8000/sap/bc/esdt/docu/sd_text?sap-client=610&amp;sd_name=ZWS_MDMMES0006" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsdl:operation name="ZfunMdmmes0006">
      <wsdl:input message="tns:ZfunMdmmes0006" />
      <wsdl:output message="tns:ZfunMdmmes0006Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_MDMMES0006" type="tns:ZWS_MDMMES0006">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZfunMdmmes0006">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_MDMMES0006:ZfunMdmmes0006Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZWS_MDMMES0006_SOAP12" type="tns:ZWS_MDMMES0006">
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZfunMdmmes0006">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_MDMMES0006:ZfunMdmmes0006Request" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_MDMMES0006">
    <wsdl:port name="ZWS_MDMMES0006" binding="tns:ZWS_MDMMES0006">
      <soap:address location="http://SHQVSAPQ1.csaid.cooperintra.ctb:8000/sap/bc/srt/rfc/sap/zws_mdmmes0006/610/zws_mdmmes0006/zws_mdmmes0006" />
    </wsdl:port>
    <wsdl:port name="ZWS_MDMMES0006_SOAP12" binding="tns:ZWS_MDMMES0006_SOAP12">
      <wsoap12:address location="http://SHQVSAPQ1.csaid.cooperintra.ctb:8000/sap/bc/srt/rfc/sap/zws_mdmmes0006/610/zws_mdmmes0006/zws_mdmmes0006" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>