src/SI.5.0.0/Service.SI/Web References/MESQTY0001/zws_mesqty0001.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char13">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="13" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char14">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="14" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="ZstrMesqty0001">
        <xsd:sequence>
          <xsd:element name="Mesinvsnaptime" type="n0:char14" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Werks" type="n0:char4" />
          <xsd:element name="Lgort" type="n0:char4" />
          <xsd:element name="Lifnr" type="n0:char10" />
          <xsd:element name="Mestotalinv" type="n0:char13" />
          <xsd:element name="Mesinspectqty" type="n0:char13" />
          <xsd:element name="Mesrejectqty" type="n0:char13" />
          <xsd:element name="Mesqualifiedqty" type="n0:char13" />
          <xsd:element name="Mestransipqty" type="n0:char13" />
          <xsd:element name="Messalesipqty" type="n0:char13" />
          <xsd:element name="Mescsqty" type="n0:char13" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiret2">
        <xsd:sequence>
          <xsd:element name="Type" type="n0:char1" />
          <xsd:element name="Id" type="n0:char20" />
          <xsd:element name="Number" type="n0:numeric3" />
          <xsd:element name="Message" type="n0:char220" />
          <xsd:element name="LogNo" type="n0:char20" />
          <xsd:element name="LogMsgNo" type="n0:numeric6" />
          <xsd:element name="MessageV1" type="n0:char50" />
          <xsd:element name="MessageV2" type="n0:char50" />
          <xsd:element name="MessageV3" type="n0:char50" />
          <xsd:element name="MessageV4" type="n0:char50" />
          <xsd:element name="Parameter" type="n0:char32" />
          <xsd:element name="Row" type="xsd:int" />
          <xsd:element name="Field" type="n0:char30" />
          <xsd:element name="System" type="n0:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZtMesqty0001">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZstrMesqty0001" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiret2T">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiret2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZfunMesqty0001">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ItMesqty0001" type="tns:ZtMesqty0001" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZfunMesqty0001Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ItReturn" type="tns:Bapiret2T" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZfunMesqty0001">
    <wsdl:part name="parameters" element="tns:ZfunMesqty0001" />
  </wsdl:message>
  <wsdl:message name="ZfunMesqty0001Response">
    <wsdl:part name="parameter" element="tns:ZfunMesqty0001Response" />
  </wsdl:message>
  <wsdl:portType name="ZWS_MESQTY0001">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://SHQVSAPQ1.csaid.cooperintra.ctb:8000/sap/bc/esdt/docu/sd_text?sap-client=610&amp;sd_name=ZWS_MESQTY0001" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsdl:operation name="ZfunMesqty0001">
      <wsdl:input message="tns:ZfunMesqty0001" />
      <wsdl:output message="tns:ZfunMesqty0001Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_MESQTY0001" type="tns:ZWS_MESQTY0001">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZfunMesqty0001">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_MESQTY0001:ZfunMesqty0001Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZWS_MESQTY0001_SOAP12" type="tns:ZWS_MESQTY0001">
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZfunMesqty0001">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_MESQTY0001:ZfunMesqty0001Request" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_MESQTY0001">
    <wsdl:port name="ZWS_MESQTY0001" binding="tns:ZWS_MESQTY0001">
      <soap:address location="http://SHQVSAPQ1.csaid.cooperintra.ctb:8000/sap/bc/srt/rfc/sap/zws_mesqty0001/610/zws_mesqty0001/zws_mesqty0001" />
    </wsdl:port>
    <wsdl:port name="ZWS_MESQTY0001_SOAP12" binding="tns:ZWS_MESQTY0001_SOAP12">
      <wsoap12:address location="http://SHQVSAPQ1.csaid.cooperintra.ctb:8000/sap/bc/srt/rfc/sap/zws_mesqty0001/610/zws_mesqty0001/zws_mesqty0001" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>